.principle-main, table{
    width: 1000px;
    margin: auto;
}

.header{
    border-bottom:solid 2px  rgb(255, 255, 255, 0.30);
}

.tittleSeasons{
    color: rgb(255,216,54);
    font-size: 100px;
    text-align: center;
    margin: 30px;
}

.table-1{
    color: white;
    
}
td{
    text-align: center;
    margin: 30px;
}
th{
    margin-bottom: 30px;
}

.table{
    margin: 30px;
}
